:root, body  {
    font-family: 'Saira', sans-serif;
    background: url(assets/bg.png);
    color: #fff;
    margin: 0; padding: 0;
    height: 100%;
}
#app {
    display: flex;
    flex-direction: row;
    height: 100%;
}
main { 
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
    padding-top: 32px;
    flex-grow: 1;

    box-sizing: border-box;
}

.panel {
    min-height: 0;
    border-radius: 8px;
    text-align: center;
    background: hsla(0, 0%, 5%, 65%);
    color: #fff;
    padding: 16px 32px;

    &.inline {
        display: flex;
        flex-direction: row;
        
        gap: 16px;

        h1, h2, h3, h4, h5, h6, p {
            margin: 0;
        }
    }

    h3, p {
        margin: 0;
    }
    &.stat {
        display: flex; flex-direction: column;
        justify-content: center;
        align-items: stretch;

        p {
            flex-grow: 1;
            font-size: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

table {
    margin: auto;
}
td:first-child {
    min-width: 128px;
    text-wrap: nowrap;
    font-weight: 500;
}
td, th {
    padding: 0 16px;
    text-align: center;
}
th {
    text-wrap: nowrap;
}

.stats {
    display: inline-block;
    text-align: center;

    span:first-child {
        width: 48px;
        display: inline-block;
    }
    span:last-child {
        width: 64px;
        display:inline-block;
    }
}

[colspan] {
    padding-top: 8px;
    font-size: 20px;
}

.error {
    position: fixed;
    padding: 8px 16px;
    background: hsl(0, 75%, 50%);
    color: #fff;
    top: 0; left: 50%;
    transform: translate(-50%, 0);
}

h3, h4 {
    margin: 0;
    margin-bottom: 8px;
}
h3 {
    font-size: 20px;
}

.layout-row {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 0 32px;
    align-items: stretch;
    & > * {
        flex-grow: 1;
    }
}

.bottom-row {
    flex-grow: 1;
    box-sizing: border-box;
    width: calc(100dvw - 260px - 64px - 8px);
    overflow-x: auto;
    padding-bottom: 32px;
    
    .panel {
        min-width: 576px;
    }
}

.rows strong {
    width: 64px;
    text-wrap: nowrap;
    display: inline-block;
    text-align: right;
    margin-right: 8px;
}
.rows strong + span {
    min-width: 48px;
    display: inline-block;
}

.sidebar {
    width: 320px;
    padding: 16px;
    background: hsl(220, 35%, 15%);
    display: flex; flex-direction: column;
    gap: 6px;

    h3, p {
        text-align: center;
        margin: 0;
    }
}

label {
    font-weight: bold;
    font-size: 16px;
    color: hsl(220, 35%, 85%);
}
.field {
    display: flex;
    flex-direction: row;

    &:not(.large) label { flex-grow: 1; }
    &:not(.large) {
        align-items: center;
    }

    &.large {
        flex-direction: column;
    }
}

.field-row {
    display: flex;
    flex-direction: row;
    :first-child {
        flex-grow: 1;
    }
}

button, select, ::file-selector-button {
    border-radius: 4px;
    border: 0;
    background: hsl(220, 35%, 25%);
    color: #fff;
    cursor: pointer;
    display: inline-block;
 
    &:active {
        background: hsl(220, 35%, 20%);
    }
    &:disabled {
        background: hsl(220, 5%, 35%);
        cursor: default;
    }
}

select:focus:hover {
    background: hsl(220, 35%, 20%);
}

button, .input, select, ::file-selector-button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 4px 8px;
    font-size: 14px; }
.input {
    border: 0;
    background: transparent;
    color: #fff;
    border-bottom: 2px solid hsl(220, 25%, 50%); 
    &:focus {
        outline: 0;
        border-color: #fff;
    }
}


.fg-Common, .fg-Basic {
    color: hsl(0, 0%, 80%); }
.fg-Ancient {
    font-weight: 600;
    color: hsl(220, 100%, 95%); }
.fg-Rare {
    color: hsl(49, 98%, 60%); }
.fg-Uncommon {
    color: hsl(180, 98%, 69%); }
.fg-Curse {
    color: #e666fe; }
.fg-Event {
    color: hsl(130, 63%, 65%);
}

.overflow {
    overflow-y:auto;
    overflow-x: visible;
    box-sizing:border-box;
    max-height: calc(100dvh - 32px - 114px - 16px - 16px - 8px);
}


.res {
    position: relative;
    .popup {
        position: absolute;
        display: none;

        background: hsl(220, 35%, 15%);
        padding: 8px 16px;
        z-index: 10;
        top: -4px;
        left: calc(100% + 16px);

        width: 256px;
        text-wrap: wrap;

        border-radius: 8px;
    }
    &:hover .popup {
        display: block;
    }
}

.fg-text-gold {
    /* keywords */
    font-weight: 600;
}
.fg-text-blue {
    color: hsl(220, 95%, 85%);
}
